.navbar .brand {
  color: wheat;
}
.navbar {
  border-bottom: 0.3rem solid wheat;
}
.navbar .brand:hover {
  color: wheat;
}
.navbar .navs a {
  color: white;
}
.navbar .navs a:hover {
  color: wheat;
}
.navbar .btn .cart-item-count {
  margin: 3px;
  color: cyan;
  font-weight: bolder;
  font-size: 15px;
}

.navbar .navs .nav-link.active {
  color: wheat;
  text-decoration: underline;
}
