.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgb(123, 100, 100, 0.1);
}

/* Input container */
.input-container {
  position: relative;
  margin: 15px;
  margin-right: 230px;
}

/* Input field */
.input-field {
  background-color: white;
  display: block;
  width: 200%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  /* background-color: transparent; */
  margin-right: 50px;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
  font-weight: bolder;
}

.input-field:focus + .input-label + .input-highlight {
  width: 200%;
}

/* ////////////////////////////////// */
.diagonal-button {
  padding: 10px 20px;
  /* background-color: rgb(33, 37, 41, 0.1); */
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border: solid 1px black;
  border-radius: 20%;
}

.diagonal-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(33, 37, 41);
  transform: skewX(-30deg);
  transition: 0.5s;
}

.diagonal-button:hover , .diagonal-button:focus {
  font-weight: bolder;
  /* background-color: rgb(203, 197, 197); */
}

.diagonal-button:hover::before ,.diagonal-button:focus::before {
  left: 100%;
}
